<nav class="nav">
  <div class="nav-left">
    <img src="../../../resources/img/LogoML.png" alt="Movie Rating ML logo">
  </div>
  <div class="nav-center">
    <a routerLink="/home" routerLinkActive="active" class="nav-item is-tab is-hidden-mobile is-active">Home</a>
    <a routerLink="/rankings" routerLinkActive="active" class="nav-item is-tab is-hidden-mobile">Rankings</a>
  </div>
  <div class="nav-right nav-menu">
    <a routerLink="/home" routerLinkActive="active" class="nav-item is-tab is-hidden-tablet is-active">Home</a>
    <a routerLink="/rankings" routerLinkActive="active" class="nav-item is-tab is-hidden-tablet">Rankings</a>
    <a class="nav-item is-tab">
      <figure class="image is-16x16" style="margin-right: 8px;">
        <img src="http://bulma.io/images/jgthms.png">
      </figure>
      Profile
    </a>
    <a class="nav-item is-tab">Log out</a>
  </div>
  <span class="nav-toggle">
    <span><a routerLink="/home" routerLinkActive="active" class="nav-item">Home</a></span>
    <span> <a routerLink="/rankings" routerLinkActive="active" class="nav-item">Rankings</a></span>
  </span>
</nav>
