<nav class="panel">
  <h3 class="panel-heading">
    Genres
  </h3>
  <div class="panel-block">
    <p class="control has-icon">
      <input class="input is-small" type="text" placeholder="Search" [(ngModel)]='listFilter'>
      <span class="icon is-small">
        <i class="fa fa-search"></i>
      </span>
    </p>
  </div>
  <a *ngFor='let genre of genres | genreFilter: listFilter' class="panel-block">
    <span class="panel-icon">
      <img [src]='genre.imageSource'/>
    </span>
    {{genre.name}}
  </a>

</nav>
