<div class="columns">
  <div class="column is-2">
    <select class="is-hidden-desktop">
      <option value="">asd</option>
      <option value="">asd</option>
      <option value="">asd</option>
      <option value="">asd</option>
      <option value="">asd</option>
      <option value="">asd</option>
    </select>
    <ul class="is-hidden-touch">
      <li>asdasdasd</li>
      <li>asdasdasd</li>
      <li>asdasdasd</li>
      <li>asdasdasd</li>
      <li>asdasdasd</li>
      <li>asdasdasd</li>
      <li>asdasdasd</li>
      <li>asdasdasd</li>
    </ul>
  </div>
  <div class="column is-10">
    <p class="notification is-success">Auto</p>
  </div>
</div>
